header {
  background-color: #0757cff1;
  color: #ffffff;       
  padding: 20px 0;        
  text-align: center;       
}

#carouselExampleAutoplaying {
  max-width: 600px;
  margin: 0 auto;
}

.dropdown-menu{
  display:none;
}